.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: white;
  transition: background-color 0.3s;
}

.menu:hover {
  background-color: theme(colors.gray.300);
}
